@media screen and (max-width: 1020px) {
	.l-container {
		width: 90%;
	}
}

@media screen and (max-width: 850px) {
	.l-navigation {
		position: initial;
		height: auto;
	}

	.l-navigation--section {
		margin-bottom: 20px;
	}

	.navigation {
		display: none;
	}

	.header__items--menu {
		display: block;
	}

	.header__items--media {
		display: block;
	}

	.section__block {
	  width: 48.33%;
	  margin-top: 23px;
	}

	.section__block__avatar {
		display: block;
	}

	.section__block--primary {
		display: block;
		width: 80.33%;
		margin: 0 auto;
	}

	.section__block__info {
	  width: 100%;
	}

	.section__block__avatar--media {
		margin-bottom: 10px;
	}

	.section__block__avatar--primary {
		width: 60%;
	}

	.category-item {
		width: 46%;
	}

	.item {
		margin: 8px;
	}

	.form {
	  width: 100%;
	  margin-bottom: 34px;
	}

	.contact {
	  width: 100%;
	}

	.form,
	.contact {
		display: block;
	}

	.l-container--media {
		text-align: center
	}

	.l-social-media--media {
		padding-bottom: 19px;
		margin-bottom: 0;
	}

	.contact {
		margin: 0;
	}

	.copywrite {
	  padding: 9px 0;
	}
}

@media screen and (max-width: 570px) {
	.l-slider {
		margin: auto;
		width: 100%;
	}

	.buttons {
		height: 0;
	}

	.slider__wrap__item__content__img {
	  width: 100px;
	}
}

@media screen and (max-width: 410px) {
	.category-buttons {
  		display: block;
  	}
}

@media screen and (max-width: 360px) {
	.l-container { width: 320px; text-align: center; }

	.l-navigation { width: 320px; }

	.header__items--menu { text-align: left; }

	.section__block { width: 100%; }

	.section__block__avatar { display: inline-block; }

	.section__description-icon-phone, 
	.section__description-icon-mail, 
	.section__description-icon-location {
		background-position: 90px center;
	}

	.category-item-thumbnail {
  		width: 42%;
  	}
}