@media screen and (max-width: 850px) {
	.l-navigation {
		position: initial;
		height: auto;
	}

	.navigation {
		display: none;
	}

	.header__items--menu {
		display: block;
	}

	.section__block {
	  width: 48.33%;
	  margin-top: 23px;
	}

	.section__block__avatar {
		display: block;
	}

	.section__block--primary {
		display: block;
		width: 80.33%;
		margin: 0 auto;
	}

	.section__block__avatar--media {
		margin-bottom: 10px;
	}

	.category-item {
		width: 46%;
	}

	.item {
		margin: 8px;
	}

	.form {
	  width: 100%;
	  margin-bottom: 34px;
	}

	.contact {
	  width: 100%;
	}

	.form,
	.contact {
		display: block;
	}

	.l-container--media {
		text-align: center
	}

	.l-social-media--media {
		padding-bottom: 19px;
		margin-bottom: 0;
	}

	.copywrite {
	  padding: 9px 0;
	}
}

@media screen and (max-width: 640px) {
	
}